@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --main-color: rgba(110, 150, 201, 0.72);
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-color);
    height: 12vh;
    font-family: "Lato", serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo b {
    color: white;
    padding: 0px 25px;
    font-size: 25px;
    font-style: italic;
}

nav ul {
    height: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


nav ul li {
    list-style: none;
    padding: 0px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bolder;
}

.search {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input {
    outline: none;
    width: 30vw;
    height: 6vh;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button {
    font-family: "Lato", serif;
    cursor: pointer;
    height: 6vh;
    margin: 0px 1vw 0px 1vw;
    padding: 5px 5px;
    border-radius: 5px;
}


.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.slider img {
    width: 80vw;
}

.card {
    max-width: 91vw;
    margin: 37px auto;
    font-family: "Lato", serif;
}

.cards {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carditems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
}

.carditems img {
    width: 200px;
    height: 200px;
}


.bold {
    font-weight: bold;
}

footer {
    background-color: var(--main-color);
    color: white;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Lato", serif;
}


/* @media screen and (min-width: 1366px) {
    .card h2 {
        margin: 0px 0px 0px 16vw;
    }
  } */